<!DOCTYPE html>
{% extends 'register/base.html' %}
{% block title_block %}
    Register Enrolling
{% endblock %}
{% block body_block %}
    <div class="jumbotron">
    {% if registered %}
        <p>Write your First Though on your Wall</p>
        <button><a href="#">Enter Oracle</a></button>
    {% else %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" value="Scribble Now!">
    </form>
    {% endif %}
    </div>
{% endblock %}